<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Summarizer</title>

  <!-- CSS  -->

    <link href="{{ url_for('static',filename='css/materialize.css') }}" rel="stylesheet">
      <link href="{{ url_for('static',filename='img/favicon.png') }}" rel="icon">
      <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

       

    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
</head>
<body>
  <body style = "background-color : #283048">
            <center><h1 style = "color:#6577B3 ; font: gabrielle"> Summarizer </h1></center><br>
            <p style = "color: #6577B3 ;"class="line-1 anim-typewriter">A Text Summarizer made by AmrevX </p>



<br><br><br><br><br><br>
 <div class="container">
    <div id = "summary" class="section">
       
      <!--   Icon Section   -->
      <div class="row">
        <div class="input-field col s12 m10">
          <div class="icon-block">
           <form method="POST" action="/analyze">
         <textarea id="autoresizing" name="rawtext" cols="200" rows="400" class="form-control" placeholder="Enter Text Here" required></textarea>

          
         <br/>
          <center><button class="button b2" type="submit">Summarize <i class=" fa fa-newspaper-o" style="font-size:24px"></i>
</button><button class="button b2" type="reset">Clear</button></center>
      
        </form>
          </div>
        </div>

      </div>
<div class="row">
        <div class="input-field col s12 m10">
          <div class="icon-block">
           <form method="POST" action="/analyze_url">
<textarea id="autoresizing" name="raw_url" cols="200" rows="400" class="form-control" placeholder="Enter URL Here" required></textarea>       <center>   <button class="button b2" type="submit">Summarize <i class=" fa fa-newspaper-o" style="font-size:24px"></i></button><button class="button b2" type="reset">Clear</button></center>
          
        </form>
          </div>
        </div>

      </div>
    </div>
  </div>
        </form>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End -->

<div class="c">
  <div class="container">
   <center>
    <h4><b>Raw Text</b></h4> 
    <p>{{ ctext }}</p> </center>
  </div>
</div>

<div class="c">
  <div class="container">
   <center>
    <h4><b>Summary</b></h4> 
    <p>{{ final_summary}}</p> </center>
  </div>
</div>
  
  <br><br><br><br><br><br>

  
  <footer style = "background-color : #283048" class="page-footer">
    <div style = "background-color : #283048; " class="container" id="aboutapp">
      <div class="row">
        <div class="col l6 s12">
        <center>  <h5class="white-text">Copyright &copy AmrevX 2021</h5> </center>
                <center>  <h5class="white-text">For any further assistance visit amrevx.in or <a href="https://instagram.com/amrevx" class="fa fa-instagram"></a>
</h5> </center>
<br>
        </div>
<!-- Badge Code - Do Not Change The Code --><div class="col-xs-12 mt20" id="bg"><div style="margin:0px auto;width:133px;background: #283048;text-align:left;display:flex;border-radius:5px"><span style="padding:7px;display:inline-block;border-right:1px solid #746dba"><a href="http://visitorshitcounter.com" rel="nofollow noopener"  target="_blank" title="https://visitorshitcounter.com/"><img src="https://visitorshitcounter.com/img/s-logo.svg" alt="https://visitorshitcounter.com/" style="width:100%;border:none;float:left"></a></span><span class="text" id="dupli_hit_counter"   style="padding:10px 0 0 0;display:inline-block;color:#ffffff;width:100%;text-align:center;"></span></span><input type="hidden" id="site_val"   value="https://visitorshitcounter.com/counterDisplay?code=bac6572bedfb1955a6fcbd0ef2097372&style=0017&pad=4&type=page&initCount=25"></div></div><script src="https://visitorshitcounter.com/js/badgess.js?v=1632116002"></script><!-- Badge Code End Here -->
</footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>

    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
  </body>
</html>